pkgbase = forkd-bin
	pkgdesc = Fork microVMs the way you fork processes (prebuilt binaries)
	pkgver = 0.5.3
	pkgrel = 1
	url = https://github.com/deeplethe/forkd
	arch = x86_64
	license = Apache-2.0
	depends = firecracker>=1.10
	depends = gcc-libs
	depends = glibc
	depends = iproute2
	depends = which
	optdepends = curl: download the guest kernel during quickstart
	optdepends = docker: build rootfs images; parent and from-image also need build-rootfs.sh
	optdepends = e2fsprogs: build ext4 rootfs images
	optdepends = iptables: configure NAT during quickstart and netns setup
	optdepends = logrotate: rotate the controller audit log
	provides = forkd=0.5.3
	conflicts = forkd
	backup = etc/logrotate.d/forkd
	source = LICENSE-0.5.3::https://raw.githubusercontent.com/deeplethe/forkd/v0.5.3/LICENSE
	source = forkd-controller-0.5.3.service::https://raw.githubusercontent.com/deeplethe/forkd/v0.5.3/packaging/systemd/forkd-controller.service
	source = forkd.logrotate
	sha256sums = 86f7b7013dff87a69534190a231c8b3545c7365d123728002089e2b91eb8f7b4
	sha256sums = 2aab38bae2a1d975281806a3f9bdb86fc1b59e40664438f238887e7b9e888cae
	sha256sums = 55aeede89ec62af51910487d7c9d583632b3a1973f36c53680fe7febb5320271
	source_x86_64 = forkd-0.5.3-x86_64-linux.tar.gz::https://github.com/deeplethe/forkd/releases/download/v0.5.3/forkd-v0.5.3-x86_64-linux.tar.gz
	sha256sums_x86_64 = 417865e0d9bb3fcaf6bd0308dfe8d40a4bd282adefb62459dd76585d6bede7e4

pkgname = forkd-bin
